Flask==0.11
Flask-Bcrypt==0.7.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Markdown==0.3
flask-media==0.4.3
Flask-Moment==0.5.1
flask-paginate==0.4.5
Flask-SQLAlchemy==2.1
Flask-Uploads==0.2.1
Flask-WTF==0.12
